@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  padding: 0;
  flex-direction: column;
  min-height: 100vh;
}


.items-container::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-thumb {
  background-color: #0062ff; 
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}


.cart {
  /* background-color: rgb(246,248,252); */
  margin: 10px;
  width: 200px;
  transition: .2s ease-in-out;
  cursor: pointer;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgb(233, 233, 233);
}

.cart:hover {
  transform: translateY(-5px);
}



.prtext {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.ss{
  padding-left: 10px;
  padding-right: 10px;
  color: #494949;
  font-weight: 500;
}

.l {
  margin-bottom: 100px;
}

.jej {
  display:flex;
  flex-wrap: wrap;
  margin-top: 20px;
  
}

.searchtext {
  padding: 20px;
  padding-top: 0;
  margin-bottom: 50px;
}

.searchtext h1 {
  font-size: 32px;
}

.searchtext p {
  font-size: 20px;
  font-weight: 400;
}

.searchtext {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cartcont {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 100vh;
}

.inj {
  display: flex;
  justify-content: space-between;
}

.inj img {
  width: 500px;
}

.inj input {
  border: none;
  height: 40px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  border: 1px solid rgb(233, 233, 233);
  transition: .3s ease-in-out;
  border-radius: 20px;
  margin-top: 40px;
}



.cart img {
  width: 200px;
  transition: .3s ease-in-out;
}

.cartcont i {
  position: relative;
  top: 46px;
  left: 0px;
  width: 20px;
  padding: 10px;
  cursor: default;
  color: rgba(94, 94, 94, 0.753);
}

.sliderr {
  width: 2000px;
}


.rec-slider-container {
  z-index: 1;
  border-radius: 8px;
}

.rec-pagination {
  border-radius: 8px;
  padding: 0px 2px;
}

button.rec-dot {
  border-radius: 10px;
  width: 15px;
  height: 5px;
  box-shadow: none;
  background-color: rgb(235, 235, 235);
}


button.rec-dot:hover {
  box-shadow: none;
  background-color: #0062ff;
}

button.rec-dot_active {
  box-shadow: none;
  background-color: #0062ff;
  border: none;
}


button.rec-dot:focus {
  box-shadow: none;
}

.lnk {
  text-decoration: none;
  color: black;
}

.mainatlas {
  margin-top: 150px;
}



@media (max-width: 1600px) {



}



@media (max-width: 1050px) {

  .ss {
    text-align: center;
    margin-bottom: 40px;
    
  }


  .sliderr{
    display: none;
  }


  .jej {
    justify-content: center;
  }

  .searchtext {
    text-align: center;
  }


  .inj {

    background-color: rgb(246,248,252);
    display: block;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 40px;
    z-index: 1;
    height: 100px;
  
    
  }

  .searchtext h1{
    display: none;
    
  }

  .searchtext p{
    display: none;
  }


  .inj input {
    box-shadow: none;
  }
 
}



footer {
  background-color: rgb(246,248,252);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: none;
  text-align: center;
  
}

.mobf {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.af {

  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 25px;
  color: rgb(68, 68, 68);
}

.af p {
  margin-top: 0px;
  font-size: 12px;
}

.af___active {
  color: #0062ff;
}


@media (max-width: 1050px) {
  
  footer {
      display: inline;
  }

  .cartcont {
    margin-left: 0;
    margin-right: 0;
    background-color: white;
    overflow-x: hidden;
    margin-top: -35px;
  }

  .cart {

    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    min-height: 10px;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: white;
    margin-top: 5px;
    padding: 10px;
    margin-right: 0;
    margin-left: 0;
    border: none;
    border-bottom: 1px solid rgb(246,248,252);
    height: 8vh;
    
  }

  .cart:hover {
    transform: translateY(0);
  }

  .cart img {
    width: 25vw;
  }

  .l {
    display: none;
  }

  .ss {
    display: none;
  }





}


.l___active {
  display: block;
}


.d___active {
  display: none;
}


