.formscont {
background-color: rgb(246,248,252);
    padding-top: 50px;
    border: 1px solid rgb(233, 233, 233);
    padding-bottom: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.fortext {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 50px;
}

.fortext h1{
    font-size: 40px;
    margin-top: 0;
}

.fortext p{
    font-size: 18px;
}

.formes {
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 8px;
}

.formesbtn {
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 8px;
    background-color: white;
}

.formesbtn span {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.formestext p{
    border: 1px solid rgb(233, 233, 233);
    border-radius: 8px;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 16px;
    background-color: white;
    margin-top: 5px;
}

@media (max-width: 1500px) {
    .formscont {
        display: block;
    }

    .fortext {
        margin-bottom: 60px;
        margin-top: -10px;
    }

    .formestext {
        font-size: 18px;
        margin:  5px 20px;
    }

    .formesbtn {
        margin: 0 20px;
    }
}


@media (max-width: 500px) {
    .formesbtn span {
        font-size: 18px;
        padding: 10px 10px;
    }

    .formestext {
        font-size: 16px;
    }
}


@media (max-width: 450px) {
    .formesbtn span {
        font-size: 17px;
        padding: 10px 4px;
        font-weight: 600;
        
    }
}

@media (max-width: 390px) {
    .formesbtn span {
        font-size: 16px;
        padding: 10px 4px;
        font-weight: 600;
        
    }
}