



.ssil {
    margin-top: 110px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.strel {
    display: inline;
    color: rgb(112, 112, 112);
    font-weight: 900;
    margin: 5px;
}

.nameops {
    margin: 10px;
    margin-bottom: 50px;
    margin-top: 60px;
    display: flex;
}
.nmif {
    margin-left: 70px;
    margin-right: 70px;
}

.nameops h1 {
    font-size: 30px;
    font-weight: 500;
}

.nameops p {
    font-size: 20px;
    
}

.ssil a {
    color: rgb(112, 112, 112);
    font-weight: 500;
    transition: .2s ease-in-out;
    text-decoration: none;
}

.hhg {
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}

.ssil a:hover {
    color: black;
}


.blockscont {
    display: flex;
    flex-wrap: wrap;
}

.study {
    list-style-type: none;
    background-color: rgb(246,248,252);
    padding: 15px 20px;
    border-radius: 16px;
    border: 1px solid rgb(233, 233, 233);
    margin-left: 10px;
    margin-right: 10px;
}
.study p li{
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-bottom: 2px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;

}

.study h1 {
    margin: 0;
    font-weight: 500;
    font-size: 22px;
}

.study a {
    color: black;
}

.mores div {
    border-radius: 8px;
  }

  .species {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 16px;
    padding: 10px;
    list-style-type: none;
    max-width: 350px;
    margin-top: 20px;
}

.species h1 {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
}

.species a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    border: 1px solid rgb(233, 233, 233);
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    transition: .3s ease-in-out;
}

.species a:hover {
    background-color: #0062ff;
    color: white;
    border-color: #0062ff;
    
}

.fits {
    background-color: rgb(246,248,252);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 16px;
    padding: 10px;
    list-style-type: none;
    border: 1px solid rgb(233, 233, 233);
}

.fits h1 {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}

.fits li {
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-bottom: 2px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
}

.blocked {
    margin-bottom: 50px;
}


.blockscont div {
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: rgb(246,248,252);
    border-radius: 16px;
    color: black;
    padding: 15px 20px;
}

.blockscont div ul{
    padding: 0;
    margin: 0;
    
}

.blockscont div li {
    font-size: 15px;
    list-style-type: none;
}

.blockscont div h1{
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    
}

.blockscont div p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 8px;
}


.hhg img {
    width: calc(40% - 10px);
    border-radius: 16px;
}


.mores {
    margin: 20px 10px;
}

.enroll {
    background-color: rgb(246,248,252);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 16px;
    padding: 10px;
    list-style-type: none;
    border: 1px solid rgb(233, 233, 233);
    margin-top: 20px;
}

.enroll h1 {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}

.enroll ul {
    margin-top: 10px;
    padding: 0;
}

.enroll li {
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-bottom: 2px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
}

@media (max-width: 1050px) {
    .nameops {
        display: block;
        text-align: center;
    }

    .nmif{
        text-align: left;
    }

    .nmif {
        margin-left: 10px;
        margin-right: 10px;
    }
    

    .hhg{
        margin-top: 100px;
    }


    .ssil {
        display: none;
    }

    .hhg img {
        width: calc(50% - 10px);
    }
}


@media (max-width: 500px) {

    .hhg img {
        width: calc(90% - 10px);
    }
}