
* {
    font-family: "IBM Plex Sans", sans-serif;
}

.map {
    border-top: 1px solid rgb(233, 233, 233);
}

.items {
    margin-top: 55px;
    min-height: 100vh;
}

.diplom{
    background-color: rgb(255, 255, 255);
    
    margin-bottom: 50px;
}

.diplom button {
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 500;
    background-color: rgb(0,98,255);
    color: white;
    cursor: pointer;
    transition: .2s ease-in-out;
    text-decoration: none;
    border: none;
    border-radius: 30px;
}

.diplom button:hover {
    background-color: rgba(0, 98, 255, 0.753);
    transform: translateY(-2px);
}

.diplominfo {
    text-align: center;
    justify-content: space-around;
    padding: 20px;
}

.diplominfo h1 {
    color: black;
}

.diplominfo p {
    color: black;
    font-weight: 500;
    padding-bottom: 10px;
}

.dipimg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.897);
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 100000;
    top: 0;
    left: 0;
    padding-top: 70px;
    visibility: hidden;
}

.dipimg__active {
    visibility: visible;
}

.dipimg__active span {
    position: absolute;
    margin: 20px;
    color: white;
    cursor: pointer;
    top: 0;
    right: 0;
}


.bacs {
    background-color: rgb(255, 255, 255);
    width: 100%;
    background-image: url('../assets/imageedit_1_5356012574.jpg');
    background-size: 100%;
}

.forms {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
    padding-bottom: 50px;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
  }

.formcont {
    display: flex;
    flex-wrap: wrap;  
}

.fform {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 34px;
    transition: .2s linear;
    border: 3px solid rgb(246,248,252);
    border-radius: 6px;
    margin-left: 38px;
    margin-right: -38px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    text-align: start; 
    height: calc(92% - 38px);
}

.formcont > * {
    width: calc(33% - 38px);
}


.fform:hover {
    background-color: rgba(215, 232, 255, 0.158);
    border-color: rgb(246,248,252);
    color: white;
    transform: translateY(-3px);
}

.fopis {
    padding: 20px 0;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    text-transform: none;
}

.otkr {
   text-align: center;
   padding: 50px;
   background-color: rgb(246,248,252);
   margin-top: -10px;
   border-bottom: 1px solid rgb(233, 233, 233);
}

.otkr p {
    margin: 40px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(49, 49, 49);
}

.otkr h1 {
    color: rgb(0,98,255);
    font-size:60px;
    margin-top: 200px;
}

.otkr a {
    background-color: rgb(0,98,255);
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 50px;
    padding: 10px 15px;
    font-weight: 500;
    transition: .2s ease-in-out;
}

.otkr a:hover {
    background-color: rgba(0, 98, 255, 0.753);
    transform: translateY(-2px);
}

.otkr input {
    padding: 10px;
    margin-left: 20px;
    border: none;
    background-color: rgba(255, 0, 0, 0);
    font-weight: 600;
    outline: none;
}

.otkr button {
    padding: 10px;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    cursor: pointer;
    
}

.clpbtns {
    display: flex;
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 265px;
    margin-bottom: 150px;
}


.otkr img:hover {
    transform: translateY(-5px);
}

.collegeinfo {
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    display: flex;
}

.collegetext {
    margin-left: 10px;
    margin-right: 10px;
}

.collegeimg {
    margin-left: 10px;
    margin-right: 10px;
}

.collegeinfo h1 {
    font-size: 40px;
}

.collegeinfo p {
    font-size: 20px;
    font-weight: 500;
    color: rgb(49, 49, 49);
}


@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-1000px));
    }
}

@keyframes updown {
    0% {
        bottom: 20px;
    }

    50% {
        bottom: 0px;
    }

    100% {
        bottom: 20px;
    }
}




@media (max-width: 1600px) {

    .downarr {
        margin-top: 110px;
    }

    .dipimg img{
        width: 60%;
    }

}

@media (max-width: 960px) {

    .fopis {
        font-size: 18px;
    }

    .formcont {
        flex-direction: column;
    }

    .formcont > * {
        width: calc(93% - 38px);
        
    }

    .otkr {
        height: 600px;
    }

    /* .collegeinfo {
        display: flex;
        flex-direction: column-reverse;
    } */


    .collegeimg {
        display: none;
    }

    .collegetext h1 {
        font-size: 35px;
    }

    .collegetext p {
        font-size: 18px;
    }

    

    .downarr {
        display: none;
    }


    .otkr h1{

        margin-top: 120px;
        font-size: 45px;
        
    }

    .reviews {
        margin: 70px 10px;
    }

    .dipimg img{
        width: 90%;
    }


}

@media (max-width: 500px) {

    .fform {

        padding: 10px;

        
        
    }

    .otkr h1{

        margin-top: 30px;
        
    }


    .formcont > * {
        width: calc(85% - 38px);
    }

    .fopis {
        display: none;
    }


}

@media (max-width: 375px) {


    .otkr h1{

        font-size: 40px;
        margin-top: 50px;
        
    }

}
